* {
    color: #2d4654;
    font-family: "Noto Sans", Calibri, sans-serif;
}

body {
    font-size: 110%;
}

h1 {
    margin-bottom: 0;
}

h1>a {
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}

.subtitle {
    text-align: right;
    margin: 0;
    font-style: italic;
}

h2,
h3,
a,
.subtitle {
    color: #243b4a;
}

hr {
    border-color: #805e73;
}

pre {
    padding: .5em;
    overflow: auto;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10%;
    text-align: center;
}

a.nav-link {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4%;
}

button:hover {
    cursor: pointer;
}

#footer {
    display: block;
    text-align: right;
    margin: 0;
    font-style: italic;
}

#game {
    width: 240px;
    height: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.message {
    display: none;
    color: #ff6961;
}

#no-message.message {
    display: inline;
}

#pangram.message {
    display: none;
    color: #0047ab;
}

.score,
.wordlists {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wordlists {
    column-gap: 2rem;
}

.today-answers {
    width: 100%;
    height: 100%;
}

.yesterday-answers {
    width: 100%;
    height: 100%;
}

.update-answers {
    height: 10rem;
    border: solid;
    overflow: scroll;
}

.answers {
    text-align: center;
}

#random-answers {
    display: none;
    text-align: center;
}

#update-random {
    width: 100%;
    height: 10rem;
    border: solid;
    overflow: auto;
}

.restart {
    width: 100%;
}

.restart-daily {
    width: 50%;
    float: left;
    text-align: center;
}

.restart-random {
    width: 50%;
    float: left;
    text-align: center;
}

div.bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fg {
    width: 100%;
    height: 100%;
}

.access {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dictionary {
    text-align: end;
}

.dmb {
    text-align: start;
}

/* Added CSS */
@media only screen and (min-width: 768px) {
    :root {
        margin-top: clamp(0.25rem, 2vh, 1rem);
        margin-bottom: clamp(0.25rem, 2vh, 1rem);
        margin-left: clamp(0.25rem, 15vw, 100rem);
        margin-right: clamp(0.25rem, 15vw, 100rem);
    }

}

.text-center {
    text-align: center;
}

/* sprite sheet css */
.fb-i {
    background-image: url(spritesheet.png);
    transition: 0.1s step-end;
}

.-a,
.-b,
.-c,
.-d,
.-e,
.-f,
.-g,
.-h,
.-i,
.-j,
.-k,
.-l,
.-m,
.-n,
.-o,
.-p,
.-q,
.-r,
.-s,
.-t,
.-u,
.-v,
.-w,
.-x,
.-y,
.-z,
.-Ya,
.-Yb,
.-Yc,
.-Yd,
.-Ye,
.-Yf,
.-Yg,
.-Yh,
.-Yi,
.-Yj,
.-Yk,
.-Yl,
.-Ym,
.-Yn,
.-Yo,
.-Yp,
.-Yq,
.-Yr,
.-Ys,
.-Yt,
.-Yu,
.-Yv,
.-Yw,
.-Yx,
.-Yy,
.-Yz {
    width: 60px;
    height: 100px;
}

.-Ya {
    background-position: -1px -1px;
}

.-Yb {
    background-position: -63px -1px;
}

.-Yc {
    background-position: -125px -1px;
}

.-Yd {
    background-position: -187px -1px;
}

.-Ye {
    background-position: -249px -1px;
}

.-Yf {
    background-position: -311px -1px;
}

.-Yg {
    background-position: -373px -1px;
}

.-Yh {
    background-position: -435px -1px;
}

.-Yi {
    background-position: -497px -1px;
}

.-Yj {
    background-position: -1px -103px;
}

.-Yk {
    background-position: -63px -103px;
}

.-Yl {
    background-position: -125px -103px;
}

.-Ym {
    background-position: -187px -103px;
}

.-Yn {
    background-position: -249px -103px;
}

.-Yo {
    background-position: -311px -103px;
}

.-Yp {
    background-position: -373px -103px;
}

.-Yq {
    background-position: -435px -103px;
}

.-Yr {
    background-position: -497px -103px;
}

.-Ys {
    background-position: -1px -205px;
}

.-Yt {
    background-position: -63px -205px;
}

.-Yu {
    background-position: -125px -205px;
}

.-Yv {
    background-position: -187px -205px;
}

.-Yw {
    background-position: -249px -205px;
}

.-Yx {
    background-position: -311px -205px;
}

.-Yy {
    background-position: -373px -205px;
}

.-Yz {
    background-position: -435px -205px;
}

.-a {
    background-position: -497px -205px;
}

.-b {
    background-position: -1px -307px;
}

.-c {
    background-position: -63px -307px;
}

.-comb,
.-comb-inv {
    width: 100px;
    height: 100px;
    transition: 0.1s;
}

.-comb {
    background-position: -125px -307px;

}

.-comb:hover,
.-comb-inv:hover {
    cursor: pointer;
}

.-comb-inv {
    background-position: -227px -307px;
}

.-comb-inv:active,
.-comb:active {
    transform: scale(0.8);
    transition: 0.1s;
    cursor: pointer;
}

.-d {
    background-position: -329px -307px;
}

.-e {
    background-position: -391px -307px;
}

.-f {
    background-position: -453px -307px;
}

.-g {
    background-position: -515px -307px;
}

.-h {
    background-position: -1px -409px;
}

.-i {
    background-position: -63px -409px;
}

.-j {
    background-position: -125px -409px;
}

.-k {
    background-position: -187px -409px;
}

.-l {
    background-position: -249px -409px;
}

.-m {
    background-position: -311px -409px;
}

.-n {
    background-position: -373px -409px;
}

.-o {
    background-position: -435px -409px;
}

.-p {
    background-position: -497px -409px;
}

.-q {
    background-position: -559px -1px;
}

.-r {
    background-position: -559px -103px;
}

.-s {
    background-position: -559px -205px;
}

.-t {
    background-position: -577px -307px;
}

.-u {
    background-position: -559px -409px;
}

.-v {
    background-position: -1px -511px;
}

.-w {
    background-position: -63px -511px;
}

.-x {
    background-position: -125px -511px;
}

.-y {
    background-position: -187px -511px;
}

.-z {
    background-position: -249px -511px;
}